In [1]:
%load_ext sql

In [3]:
%sql mysql+mysqlconnector://root:Sd123258@localhost:3306/london_house_price

In [4]:
%%sql

SELECT * FROM london_house_prices LIMIT 5;

 * mysql+mysqlconnector://root:***@localhost:3306/london_house_price
5 rows affected.

[(132180206, 5, 4, 'freehold', 0, 'Ladbroke Grove, London', '', 10500000, 'Holland Park Station', 0.2, ''),
 (134996630, 6, 5, 'freehold', 0, 'Murray Road, Wimbledon Village, SW19', '', 8950000, 'Wimbledon Station', 0.3, 'SW19'),
 (134169233, 7, 5, 'freehold', 1, 'Southside Common, Wimbledon Village, SW19', '', 11950000, 'Wimbledon Station', 0.7, 'SW19'),
 (132180206, 5, 4, 'freehold', 0, 'Ladbroke Grove, London', '', 10500000, 'Holland Park Station', 0.2, ''),
 (134996630, 6, 5, 'freehold', 0, 'Murray Road, Wimbledon Village, SW19', '', 8950000, 'Wimbledon Station', 0.3, 'SW19')]

In [5]:
%%sql
DESCRIBE london_house_prices

 * mysql+mysqlconnector://root:***@localhost:3306/london_house_price
11 rows affected.

[('id', b'int', 'YES', '', None, ''),
 ('bedrooms', b'int', 'YES', '', None, ''),
 ('bathrooms', b'int', 'YES', '', None, ''),
 ('tenure', b'text', 'YES', '', None, ''),
 ('garden', b'int', 'YES', '', None, ''),
 ('street', b'text', 'YES', '', None, ''),
 ('size_sqft', b'text', 'YES', '', None, ''),
 ('price_pounds', b'int', 'YES', '', None, ''),
 ('nearest_station_name', b'text', 'YES', '', None, ''),
 ('nearest_station_miles', b'double', 'YES', '', None, ''),
 ('postcode_outer', b'text', 'YES', '', None, '')]

## Questions

1. What is the average price of properties in the dataset, and what is the price distribution?


2. Is there a correlation between the number of bedrooms and property prices? How does the number of bathrooms affect property prices?


3. Do freehold properties tend to be more expensive than leasehold properties on average?


4. Are properties with gardens generally priced higher than those without gardens?


5. What is the relationship between the distance to the nearest station and property prices? Is proximity to public transportation a significant factor in property pricing?


6. Can you identify any geographic trends in property prices based on the outer postcodes? Are certain areas of London more expensive than others?


7. What are the most common property types (e.g., apartments, houses) in the dataset, and how do their attributes and prices differ?


8. Is there a correlation between property size (size_sqft) and price? Are larger properties consistently more expensive, or are there exceptions?

### 1. What is the average price of properties in the dataset, and what is the price distribution?

In [7]:
%%sql
SELECT AVG(price_pounds) AS average_price
FROM london_house_prices;

-- Price distribution
SELECT price_pounds, COUNT(*) AS frequency
FROM london_house_prices
GROUP BY price_pounds
ORDER BY price_pounds;

 * mysql+mysqlconnector://root:***@localhost:3306/london_house_price
1 rows affected.
196 rows affected.

[(200000, 1),
 (280000, 1),
 (335000, 1),
 (360000, 1),
 (387500, 1),
 (400000, 3),
 (475000, 1),
 (488950, 1),
 (500000, 1),
 (510000, 1),
 (515000, 1),
 (525000, 1),
 (550000, 1),
 (595000, 1),
 (599995, 1),
 (610000, 2),
 (650000, 2),
 (775000, 2),
 (795000, 1),
 (800000, 1),
 (895000, 4),
 (900000, 1),
 (975000, 1),
 (1000000, 2),
 (1075000, 1),
 (1300000, 1),
 (1400000, 1),
 (1699950, 1),
 (2400000, 2),
 (3350000, 1),
 (3365000, 1),
 (3500000, 2),
 (4700000, 1),
 (5380000, 1),
 (5685000, 1),
 (5750000, 1),
 (6000000, 2),
 (6250000, 17),
 (6300000, 1),
 (6325000, 1),
 (6350000, 4),
 (6375000, 2),
 (6400000, 5),
 (6450000, 6),
 (6490000, 1),
 (6500000, 46),
 (6595000, 4),
 (6611000, 1),
 (6636000, 1),
 (6650000, 1),
 (6655000, 2),
 (6700000, 2),
 (6750000, 20),
 (6825000, 1),
 (6850000, 2),
 (6900000, 5),
 (6950000, 48),
 (6995000, 3),
 (6999999, 1),
 (7000000, 10),
 (7053000, 1),
 (7150000, 2),
 (7250000, 14),
 (7300000, 1),
 (7350000, 6),
 (7375000, 1),
 (7400000, 3),
 (7450000, 3),
 (7495000, 2),
 (7500000, 21),
 (7618000, 5),
 (7650000, 1),
 (7695000, 3),
 (7750000, 2),
 (7850000, 6),
 (7950000, 27),
 (7995000, 3),
 (7999950, 1),
 (8000000, 23),
 (8047000, 1),
 (8130000, 1),
 (8201000, 6),
 (8250000, 14),
 (8285000, 1),
 (8300000, 1),
 (8325000, 1),
 (8395000, 2),
 (8450000, 6),
 (8490000, 1),
 (8500000, 17),
 (8550000, 1),
 (8600000, 2),
 (8625000, 1),
 (8750000, 8),
 (8900000, 1),
 (8950000, 23),
 (8999950, 2),
 (9000000, 18),
 (9150000, 2),
 (9200000, 1),
 (9250000, 9),
 (9295000, 1),
 (9450000, 6),
 (9495500, 1),
 (9500000, 21),
 (9650000, 1),
 (9750000, 8),
 (9900000, 3),
 (9950000, 14),
 (10000000, 11),
 (10250000, 2),
 (10500000, 14),
 (10950000, 14),
 (10995000, 2),
 (11000000, 10),
 (11250000, 2),
 (11251000, 4),
 (11300000, 1),
 (11500000, 11),
 (11749000, 1),
 (11750000, 7),
 (11756000, 1),
 (11795000, 1),
 (11863000, 3),
 (11950000, 24),
 (12000000, 7),
 (12180000, 2),
 (12250000, 4),
 (12300000, 1),
 (12310000, 4),
 (12500000, 11),
 (12669000, 1),
 (12846000, 4),
 (12850000, 1),
 (12950000, 8),
 (13000000, 1),
 (13395000, 1),
 (13400000, 1),
 (13450000, 1),
 (13500000, 9),
 (13950000, 2),
 (14000000, 2),
 (14500000, 4),
 (14750000, 1),
 (14850000, 1),
 (14950000, 13),
 (15000000, 18),
 (15020000, 1),
 (15500000, 9),
 (15715000, 1),
 (15950000, 6),
 (16000000, 3),
 (16020000, 1),
 (16500000, 10),
 (16750000, 1),
 (16950000, 7),
 (17000000, 5),
 (17250000, 1),
 (17500000, 2),
 (17650000, 1),
 (17750000, 1),
 (17950000, 3),
 (17999999, 2),
 (18000000, 4),
 (18230000, 1),
 (18500000, 2),
 (18950000, 3),
 (19000000, 2),
 (19500000, 5),
 (19750000, 5),
 (19950000, 6),
 (19995000, 1),
 (20000000, 9),
 (21500000, 5),
 (21950000, 2),
 (22000000, 5),
 (22500000, 11),
 (22900000, 3),
 (22950000, 1),
 (23000000, 2),
 (23500000, 2),
 (23950000, 4),
 (24950000, 2),
 (25000000, 8),
 (25500000, 2),
 (26950000, 1),
 (27000000, 1),
 (28000000, 1),
 (30000000, 3),
 (32500000, 1),
 (35000000, 7),
 (36000000, 1),
 (43700000, 2),
 (44000000, 2),
 (45000000, 1),
 (75000000, 2)]

### 2. Is there a correlation between the number of bedrooms and property prices? How does the number of bathrooms affect property prices?

In [10]:
%%sql
-- Correlation between bedrooms and prices
SELECT 
    (COUNT(*) * SUM(bedrooms * price_pounds) - SUM(bedrooms) * SUM(price_pounds)) / 
    (SQRT((COUNT(*) * SUM(bedrooms * bedrooms) - POW(SUM(bedrooms), 2)) * 
          (COUNT(*) * SUM(price_pounds * price_pounds) - POW(SUM(price_pounds), 2)))) 
    AS bedroom_price_correlation
FROM london_house_prices;

 * mysql+mysqlconnector://root:***@localhost:3306/london_house_price
1 rows affected.

[(0.37000348089975926,)]

### 3. Do freehold properties tend to be more expensive than leasehold properties on average?

In [12]:
%%sql
SELECT tenure, AVG(price_pounds) AS avg_price
FROM london_house_prices
GROUP BY tenure;

 * mysql+mysqlconnector://root:***@localhost:3306/london_house_price
5 rows affected.

[('freehold', Decimal('11805195.9645')),
 ('leasehold', Decimal('10489934.7859')),
 ('share of freehold', Decimal('9770862.0690')),
 ('ask agent', Decimal('10947377.3585')),
 ('', Decimal('8282222.2222'))]

### 4. Are properties with gardens generally priced higher than those without gardens?

In [13]:
%%sql
SELECT garden, AVG(price_pounds) AS avg_price
FROM london_house_prices
GROUP BY garden;

 * mysql+mysqlconnector://root:***@localhost:3306/london_house_price
5 rows affected.

[(0, Decimal('10871007.5242')),
 (1, Decimal('11480077.3721')),
 (2, Decimal('10620539.8230')),
 (3, Decimal('9762400.0000')),
 (4, Decimal('8000000.0000'))]

### 5. What is the relationship between the distance to the nearest station and property prices? Is proximity to public transportation a significant factor in property pricing?

In [14]:
%%sql
SELECT nearest_station_miles, AVG(price_pounds) AS avg_price
FROM london_house_prices
GROUP BY nearest_station_miles
ORDER BY nearest_station_miles;

 * mysql+mysqlconnector://root:***@localhost:3306/london_house_price
19 rows affected.

[(0.0, Decimal('8995833.3333')),
 (0.1, Decimal('9961745.0820')),
 (0.2, Decimal('11908453.3420')),
 (0.3, Decimal('10819651.0156')),
 (0.4, Decimal('14178860.2295')),
 (0.5, Decimal('9190539.1892')),
 (0.6, Decimal('10988000.0000')),
 (0.7, Decimal('8813548.3871')),
 (0.8, Decimal('9576794.1176')),
 (0.9, Decimal('9177065.2174')),
 (1.0, Decimal('7051111.1111')),
 (1.1, Decimal('8716250.0000')),
 (1.2, Decimal('2636666.6667')),
 (1.3, Decimal('8400000.0000')),
 (1.4, Decimal('7558666.6667')),
 (1.5, Decimal('8000000.0000')),
 (1.6, Decimal('7166666.6667')),
 (4.4, Decimal('895000.0000')),
 (6.1, Decimal('280000.0000'))]

### 6. Can you identify any geographic trends in property prices based on the outer postcodes? Are certain areas of London more expensive than others?.

In [15]:
%%sql 
SELECT postcode_outer, AVG(price_pounds) AS avg_price
FROM london_house_prices
GROUP BY postcode_outer
ORDER BY avg_price DESC;

 * mysql+mysqlconnector://root:***@localhost:3306/london_house_price
114 rows affected.

[('5BL', Decimal('75000000.0000')),
 ('UB9', Decimal('75000000.0000')),
 ('W8.', Decimal('20000000.0000')),
 ('SW4', Decimal('19500000.0000')),
 ('6NA', Decimal('18116666.6667')),
 ('W4', Decimal('16500000.0000')),
 ('W1K.', Decimal('15950000.0000')),
 ('W14', Decimal('15785714.2857')),
 ('W1J', Decimal('15110526.3158')),
 ('WC2N', Decimal('14950000.0000')),
 ('NW7', Decimal('14875000.0000')),
 ('1AA', Decimal('14600000.0000')),
 ('W8', Decimal('13698181.8182')),
 ('EC3R', Decimal('13500000.0000')),
 ('W1H', Decimal('13500000.0000')),
 ('NW1', Decimal('13413888.8889')),
 ('W1K', Decimal('13257631.5789')),
 ('SW1X', Decimal('13142720.5882')),
 ('NW3', Decimal('12974583.3333')),
 ('W10', Decimal('12950000.0000')),
 ('WD7', Decimal('12644438.8889')),
 ('KT22', Decimal('12500000.0000')),
 ('SW7', Decimal('12067706.2500')),
 ('1SF', Decimal('12000000.0000')),
 ('HA6', Decimal('12000000.0000')),
 ('EN5', Decimal('12000000.0000')),
 ('eW1', Decimal('11950000.0000')),
 ('W1B', Decimal('11820000.0000')),
 ('SW1W', Decimal('11738095.2381')),
 ('SW10', Decimal('11585000.0000')),
 ('W2', Decimal('11514117.6471')),
 ('W1T', Decimal('11500000.0000')),
 ('SW6', Decimal('11429166.6667')),
 ('N6', Decimal('11375000.0000')),
 ('NW8', Decimal('11370294.1176')),
 ('2PX', Decimal('11000000.0000')),
 ('W1S', Decimal('10975000.0000')),
 ('', Decimal('10972360.4574')),
 ('SW1Y', Decimal('10850000.0000')),
 ('KT13', Decimal('10770000.0000')),
 ('yN2', Decimal('10750000.0000')),
 ('SW1A', Decimal('10638888.7778')),
 ('SE1', Decimal('10612500.0000')),
 ('SW1E', Decimal('10483333.3333')),
 ('SW1H', Decimal('10466666.6667')),
 ('N2', Decimal('10242499.9643')),
 ('SW1', Decimal('10100000.0000')),
 ('W1U', Decimal('9973384.6154')),
 ('SW3', Decimal('9915760.8696')),
 ('SW8', Decimal('9848590.9091')),
 ('W2.', Decimal('9653846.1538')),
 ('SW11', Decimal('9540909.0909')),
 ('5AU', Decimal('9500000.0000')),
 ('2FB', Decimal('9500000.0000')),
 ('EC2A', Decimal('9475000.0000')),
 ('W9', Decimal('9333333.3333')),
 ('KT2', Decimal('9250000.0000')),
 ('NW11', Decimal('9000000.0000')),
 ('W11.', Decimal('9000000.0000')),
 ('SW6.', Decimal('8900000.0000')),
 ('W1Y.', Decimal('8750000.0000')),
 ('N20', Decimal('8499444.4444')),
 ('SW19', Decimal('8490022.7273')),
 ('SW14', Decimal('8333333.3333')),
 ('W11', Decimal('8265000.0000')),
 ('N5', Decimal('8000000.0000')),
 ('KT3', Decimal('8000000.0000')),
 ('W1G', Decimal('7992857.1429')),
 ('KT10', Decimal('7950000.0000')),
 ('SW13', Decimal('7940000.0000')),
 ('W1W', Decimal('7872500.0000')),
 ('WC1A', Decimal('7850000.0000')),
 ('SW7.', Decimal('7816666.6667')),
 ('TW1', Decimal('7750000.0000')),
 ('5BN', Decimal('7725000.0000')),
 ('1GA.', Decimal('7250000.0000')),
 ('SW15', Decimal('7150000.0000')),
 ('CM14', Decimal('7000000.0000')),
 ('EC1V', Decimal('6950000.0000')),
 ('EN6.', Decimal('6950000.0000')),
 ('bN2', Decimal('6950000.0000')),
 ('W6', Decimal('6950000.0000')),
 ('EN6', Decimal('6950000.0000')),
 ('AL9', Decimal('6750000.0000')),
 ('WC2R', Decimal('6500000.0000')),
 ('E9', Decimal('6500000.0000')),
 ('SW18', Decimal('6500000.0000')),
 ('E8', Decimal('6500000.0000')),
 ('SE9', Decimal('6500000.0000')),
 ('W1F', Decimal('6500000.0000')),
 ('NW2', Decimal('6500000.0000')),
 ('WC1N', Decimal('6500000.0000')),
 ('EC4V', Decimal('6412000.0000')),
 ('N1', Decimal('6100000.0000')),
 ('0BP', Decimal('5833333.3333')),
 ('SW17', Decimal('5750000.0000')),
 ('NW6', Decimal('5600000.0000')),
 ('E14', Decimal('4072500.0000')),
 ('TW10', Decimal('3900000.0000')),
 ('KT11', Decimal('3500000.0000')),
 ('9QG', Decimal('3270000.0000')),
 ('N12', Decimal('1699950.0000')),
 ('SE10', Decimal('975000.0000')),
 ('CM5', Decimal('895000.0000')),
 ('SE18', Decimal('800000.0000')),
 ('1NT', Decimal('775000.0000')),
 ('Nw10', Decimal('650000.0000')),
 ('SE11', Decimal('610000.0000')),
 ('N15', Decimal('599995.0000')),
 ('SW1V', Decimal('525000.0000')),
 ('0FJ', Decimal('488950.0000')),
 ('SE13', Decimal('400000.0000')),
 ('BR2', Decimal('400000.0000')),
 ('RM16', Decimal('360000.0000'))]

### 7. What are the most common property types (e.g., apartments, houses) in the dataset, and how do their attributes and prices differ?

In [16]:
%%sql
SELECT street, COUNT(*) AS property_count, AVG(size_sqft) AS avg_size, AVG(price_pounds) AS avg_price
FROM london_house_prices
GROUP BY street
ORDER BY property_count DESC;

 * mysql+mysqlconnector://root:***@localhost:3306/london_house_price
677 rows affected.

[('Moxon Street, London, W1U', 8, 1495.0, Decimal('7963125.0000')),
 ('Winnington Road, N2', 7, 20836.85714285714, Decimal('10392857.1429')),
 ('St. Mary Abbots Place, London, W8', 5, 1105.2, Decimal('9680000.0000')),
 ('Grosvenor Square, Mayfair, London, W1K', 5, 0.0, Decimal('17940000.0000')),
 ("Cumberland Terrace, Regent's Park, London, NW1", 5, 0.0, Decimal('7750000.0000')),
 ('Canary Wharf,\nLondon, \nE14 9QG', 5, 1708.6, Decimal('3270000.0000')),
 ('Chesham Street, SW1X', 5, 529.0, Decimal('8150000.0000')),
 ('Lowndes Square, London, SW1X', 5, 1576.8, Decimal('12398000.0000')),
 ('Old Church Street, London, SW3', 5, 1702.8, Decimal('9355000.0000')),
 ('Damac Tower, Nine Elms, London', 5, 0.0, Decimal('10700000.0000')),
 ("Cambridge Gate, Regent's Park, London, NW1", 4, 2533.5, Decimal('12750000.0000')),
 ('Damac Tower, Nine Elms, SW8', 4, 3284.25, Decimal('12157250.0000')),
 ('Southbank Place, Belvedere Road, London, SE1', 4, 965.5, Decimal('13700000.0000')),
 ("Chester Terrace, Regent's Park, London, NW1", 4, 0.0, Decimal('11500000.0000')),
 ('Ladbroke Grove, London', 3, 0.0, Decimal('10500000.0000')),
 ('Murray Road, Wimbledon Village, SW19', 3, 0.0, Decimal('8950000.0000')),
 ('Southside Common, Wimbledon Village, SW19', 3, 0.0, Decimal('11950000.0000')),
 ('Cottesmore Gardens, London, W8', 3, 0.0, Decimal('24333333.3333')),
 ('Connaught Place, Connaught Village, London, W2', 3, 1216.6666666666667, Decimal('15633333.3333')),
 ('Moxon Street, W1U', 3, 1972.0, Decimal('8036666.6667')),
 ('Park Street, Mayfair', 3, 0.0, Decimal('16333333.3333')),
 ('Totteridge Common, London, N20', 3, 2345.3333333333335, Decimal('8000000.0000')),
 ('Headfort Place, Belgravia, London, SW1X', 3, 2677.3333333333335, Decimal('6950000.0000')),
 ('Herbert Crescent, Knightsbridge, SW1X', 3, 4499.333333333333, Decimal('19950000.0000')),
 ('10 Broadway,\nLondon,\nSW1H 0BP', 3, 1754.6666666666667, Decimal('5833333.3333')),
 ('South Street, Mayfair, London, W1K', 3, 0.0, Decimal('13316666.6667')),
 ('Totteridge Common, Totteridge, London, N20', 3, 0.0, Decimal('8000000.0000')),
 ('Chesham Street, Belgravia, SW1X', 3, 2080.3333333333335, Decimal('8016666.6667')),
 ('Holland Park Gate, 257-265 Kensington High Street, London, W8 6NA', 3, 0.0, Decimal('18116666.6667')),
 ('Winnington Road, London, N2', 3, 5333.333333333333, Decimal('10298333.3333')),
 ("Hamilton Terrace, St. John's Wood, London, NW8", 3, 0.0, Decimal('13316666.6667')),
 ('Grosvenor Square, Mayfair', 3, 0.0, Decimal('13500000.0000')),
 ('Castelnau, Barnes, London, SW13', 3, 0.0, Decimal('8983333.3333')),
 ('Gerald Road, London, SW1W', 3, 0.0, Decimal('7650000.0000')),
 ("Norfolk Road, St John's Wood, London, NW8", 3, 0.0, Decimal('15500000.0000')),
 ('Earls Terrace, London, W8', 3, 3201.3333333333335, Decimal('9000000.0000')),
 ('Marlborough Place, London, NW8', 3, 0.0, Decimal('13616666.6667')),
 ("St. James's Place, London, SW1A", 3, 1464.0, Decimal('8950000.0000')),
 ('Chesterfield Hill, London, W1J', 2, 4460.0, Decimal('10950000.0000')),
 ('The Regents Crescent, Park Crescent West, Marylebone, London, W1B', 2, 0.0, Decimal('8950000.0000')),
 ('Wilton Street, Belgravia, SW1X', 2, 4563.0, Decimal('11750000.0000')),
 ('Highwood Lodge Farm Estate, Highwood Hill, London, NW7', 2, 0.0, Decimal('20000000.0000')),
 ('Belgravia Gate, Grosvenor Crescent, Belgravia, London, SW1X', 2, 0.0, Decimal('43700000.0000')),
 ('Pear Tree Street, London, EC1V', 2, 2080.5, Decimal('6950000.0000')),
 ('Cheyne Row, Chelsea, London, SW3', 2, 1898.5, Decimal('7200000.0000')),
 ('Theobald Street, Radlett, Hertfordshire, WD7', 2, 0.0, Decimal('9950000.0000')),
 ('Boiler House, Battersea Power Station', 2, 0.0, Decimal('8600000.0000')),
 ('Lancelot Place, Knightsbridge, London, SW7', 2, 0.0, Decimal('6950000.0000')),
 ('Wilton Street, London, SW1X', 2, 1471.0, Decimal('8950000.0000')),
 ('Eaton Mews North, London, SW1X', 2, 1600.0, Decimal('9750000.0000')),
 ('Parkside, Wimbledon, SW19', 2, 0.0, Decimal('7722500.0000')),
 ('Damac Tower, Vauxhall, SW8', 2, 1770.0, Decimal('12086500.0000')),
 ("Hanover Terrace, Regent's Park, London, NW1", 2, 3729.5, Decimal('22000000.0000')),
 ("The Buckingham, St James's, SW1E", 2, 3493.5, Decimal('10250000.0000')),
 ('Ennismore Gardens, London, SW7', 2, 5303.0, Decimal('23950000.0000')),
 ('Beaufort Gardens, Knightsbridge, SW3', 2, 3674.0, Decimal('18000000.0000')),
 ('Sky Villa, Boiler House, Battersea Power Station, Nine Elms, SW8 5BN', 2, 0.0, Decimal('7725000.0000')),
 ("Hanover Terrace, Regent's Park, NW1", 2, 6451.5, Decimal('19725000.0000')),
 ('The Bishops Avenue, East Finchley N2', 2, 8594.0, Decimal('10750000.0000')),
 ('Wadham Gardens, Primrose Hill, London, NW3', 2, 0.0, Decimal('18950000.0000')),
 ('Dawson Place, London, W2', 2, 3324.5, Decimal('21500000.0000')),
 ('Montpelier Square, Knightsbridge SW7', 2, 4550.5, Decimal('10750000.0000')),
 ('The Bishops Avenue, Hampstead, N2', 2, 7842.0, Decimal('12750000.0000')),
 ('Westbourne Grove Mews, London, W11', 2, 2435.5, Decimal('9250000.0000')),
 ('Egerton Crescent, Knightsbridge, London, SW3', 2, 0.0, Decimal('12225000.0000')),
 ('Lowndes Close, Belgravia, London, SW1X', 2, 0.0, Decimal('9450000.0000')),
 ('Derby Road, London, E9', 2, 2.0, Decimal('6500000.0000')),
 ('Alexander Square, London, SW3', 2, 0.0, Decimal('8750000.0000')),
 ('Portland Place, Marylebone, W1B', 2, 6570.0, Decimal('15875000.0000')),
 ('Adams Row, Mayfair, London, W1K', 2, 1963.5, Decimal('11950000.0000')),
 ('Lyford Road, London, SW18', 2, 0.0, Decimal('6500000.0000')),
 ('One Kensington Gardens, Kensington, London, W8', 2, 0.0, Decimal('18000000.0000')),
 ('Sky View, Drapers Corner, Greensted, Essex CM5', 2, 2200.0, Decimal('895000.0000')),
 ('Marylebone Square, Moxon Street, Marylebone W1U', 2, 2147.5, Decimal('14172500.0000')),
 ('Winnington Road, Hampstead, London, N2', 2, 0.0, Decimal('13647499.5000')),
 ("Regent's Crescent, Park Crescent West, Marylebone, London, W1B 1AA", 2, 0.0, Decimal('14600000.0000')),
 ('The Westin, Upper Thames St, London, EC4V', 2, 0.0, Decimal('6250000.0000')),
 ('Elsworthy Road, London, NW3', 2, 0.0, Decimal('20975000.0000')),
 ("St. Katharines Precinct, Regent's Park, London, NW1", 2, 0.0, Decimal('13725000.0000')),
 ('Centre Point, 103 New Oxford Street, London, WC1A', 2, 0.0, Decimal('7850000.0000')),
 ('Montrose Place, Belgravia, London, SW1X', 2, 0.0, Decimal('12975000.0000')),
 ('Knightsbridge Gate, Knightsbridge, London, SW1X', 2, 0.0, Decimal('19107500.0000')),
 ('Charles Street, Mayfair, W1J', 2, 1719.0, Decimal('14000000.0000')),
 ('Bathurst Street, London, W2.', 2, 0.0, Decimal('7350000.0000')),
 ('Belgrave Square, London, SW1X', 2, 0.0, Decimal('6950000.0000')),
 ('Daleham Gardens, Hampstead, London, NW3', 2, 0.0, Decimal('12500000.0000')),
 ('Brick Street, Mayfair, London, W1J', 2, 0.0, Decimal('35000000.0000')),
 ('Adams Row, Mayfair', 2, 0.0, Decimal('11950000.0000')),
 ('Lancelot Place, SW7', 2, 0.0, Decimal('8999950.0000')),
 ('Loom Lane, Radlett, Hertfordshire, WD7', 2, 0.0, Decimal('7950000.0000')),
 ('Hyde Park Crescent, Hyde Park Estate, London, W2.', 2, 0.0, Decimal('8950000.0000')),
 ('Bondway', 2, 3622.0, Decimal('12846000.0000')),
 ('North Audley Street, Mayfair, London, W1K', 2, 0.0, Decimal('6950000.0000')),
 ("Melina Place, St. John's Wood, London, NW8", 2, 0.0, Decimal('10500000.0000')),
 ('Moore Street, Chelsea, SW3', 2, 0.0, Decimal('6500000.0000')),
 ('Blandford Street, Marylebone, London, W1U', 2, 0.0, Decimal('8395000.0000')),
 ('Montrose House, Montrose Place, SW1X', 2, 0.0, Decimal('6500000.0000')),
 ('Courtnell Street, Bayswater, Westminster, W2', 2, 0.0, Decimal('6500000.0000')),
 ('Princes Gate, Kensington, London, SW7', 2, 0.0, Decimal('30000000.0000')),
 ('Hillside, Wimbledon Village, SW19', 2, 0.0, Decimal('7500000.0000')),
 ('South Street, London', 2, 0.0, Decimal('35000000.0000')),
 ('Penthouse at Thames City, Nine Elms, SW8', 2, 3700.0, Decimal('6000000.0000')),
 ('Davies Street, London, W1K', 2, 0.0, Decimal('6900000.0000')),
 ('Lansdowne Road, Notting Hill, London, W11', 2, 0.0, Decimal('6750000.0000')),
 ('Coleridge Gardens, London SW10', 2, 0.0, Decimal('7350000.0000')),
 ('Park Lane, Mayfair, London', 2, 2897.0, Decimal('6500000.0000')),
 ('Franklins Row, Chelsea, London, SW3', 2, 0.0, Decimal('8500000.0000')),
 ('Hadley Common, Hertfordshire, EN5', 2, 0.0, Decimal('12000000.0000')),
 ('Bourdon Street, Mayfair, W1K', 2, 5788.0, Decimal('19750000.0000')),
 ('Boyne Terrace Mews, London, W11', 2, 0.0, Decimal('6750000.0000')),
 ('Pont Street, Knightsbridge', 2, 0.0, Decimal('20000000.0000')),
 ('Pearce House South, Circus Road West, Battersea Power Station', 2, 0.0, Decimal('8250000.0000')),
 ('Residence 11, Lancer Square, Kensington Church Street, London, W8', 2, 0.0, Decimal('12180000.0000')),
 ('Bathurst Street, Hyde Park Estate, London, W2', 2, 3523.0, Decimal('7950000.0000')),
 ('Connaught Square, Hyde Park Estate, London, W2.', 2, 0.0, Decimal('8000000.0000')),
 ('Navarino Road, London, E8', 2, 0.0, Decimal('6500000.0000')),
 ('Scarsdale Villas, London, W8', 2, 2671.0, Decimal('6500000.0000')),
 ('Sheffield Terrace, Kensington, W8', 2, 0.0, Decimal('6350000.0000')),
 ('Duke Street, London, W1K', 2, 3466.0, Decimal('8450000.0000')),
 ('Hans Place, \nKnightsbridge, SW1X', 2, 4275.0, Decimal('13500000.0000')),
 ('South Lodge, Knightsbridge, London SW7', 2, 1850.0, Decimal('6250000.0000')),
 ('Wigley Bush Lane, South Weald, Brentwood, Essex, CM14', 2, 0.0, Decimal('7000000.0000')),
 ('Courtnell Street, London', 2, 0.0, Decimal('6500000.0000')),
 ('Arlington Street, Mayfair, London, SW1A', 2, 0.0, Decimal('6950000.0000')),
 ('1 Ebury Square, Belgravia, London SW1W', 2, 3698.0, Decimal('11750000.0000')),
 ('Chester Row, \nBelgravia, SW1W', 2, 2951.0, Decimal('6850000.0000')),
 ('Ennismore Gardens, \nKnightsbridge, SW7', 2, 3405.0, Decimal('6500000.0000')),
 ('Peek Crescent, Wimbledon, London, SW19', 2, 0.0, Decimal('8500000.0000')),
 ('West Lodge, Compton Avenue, N6', 2, 6900.0, Decimal('9500000.0000')),
 ('Lowndes Square, SW1', 2, 0.0, Decimal('6400000.0000')),
 ('Warren Rise, Coombe, KT3', 2, 0.0, Decimal('8000000.0000')),
 ('87 Bromley Road, Shortlands, BROMLEY, BR2', 2, 0.0, Decimal('400000.0000')),
 ('Winnington Close, Hampstead Garden Suburb, London, N2', 2, 4684.0, Decimal('6950000.0000')),
 ('Thurloe Square, London', 2, 4674.0, Decimal('9250000.0000')),
 ('Marylebone Square, Moxon Street, Marylebone, W1U', 2, 0.0, Decimal('7695000.0000')),
 ('Kelso Place, London, W8', 2, 0.0, Decimal('14950000.0000')),
 ('Orchard View, Theobald Street', 2, 0.0, Decimal('9950000.0000')),
 ('The Westin, London City EC4V', 2, 2888.0, Decimal('6655000.0000')),
 ('Smith Terrace, London', 2, 0.0, Decimal('8500000.0000')),
 ('Palace Gate, Kensington, W8', 2, 2880.0, Decimal('6950000.0000')),
 ('Bryanston Street, London, W1H', 2, 0.0, Decimal('13500000.0000')),
 ('Yeomans Row, London, SW3', 2, 0.0, Decimal('10950000.0000')),
 ('Abingdon Road, Kensington, W8', 2, 6146.0, Decimal('10995000.0000')),
 ('Kennington Lane, Oval Village, Vauxhall, SE11', 2, 567.0, Decimal('610000.0000')),
 ('Orchard Way, Potters Bar, EN6 1NT', 2, 0.0, Decimal('775000.0000')),
 ('Lancelot Place, London, SW7', 2, 979.5, Decimal('7975000.0000')),
 ('The Bishops Avenue, London, N2', 2, 0.0, Decimal('11950000.0000')),
 ('Knightsbridge, South Kensington', 2, 0.0, Decimal('7125000.0000')),
 ('Longwood Drive, London, SW15', 2, 0.0, Decimal('6700000.0000')),
 ('Cork Street, Mayfair', 2, 0.0, Decimal('7850000.0000')),
 ('Newlands Avenue, Radlett, WD7', 2, 7476.0, Decimal('11499975.0000')),
 ('Stamford Brook Road, London, W6', 2, 0.0, Decimal('6950000.0000')),
 ('Hanover Terrace', 2, 0.0, Decimal('19725000.0000')),
 ("Melina Place, St John's Wood, London, NW8", 2, 0.0, Decimal('13625000.0000')),
 ('Chelsea Creek Tower, Chelsea Creek, SW6', 1, 3599.0, Decimal('6500000.0000')),
 ('Onslow Gardens, South Kensington, London, SW7', 1, 0.0, Decimal('6950000.0000')),
 ('Lowndes Square, Knightsbridge, London, SW1X', 1, 0.0, Decimal('6400000.0000')),
 ('1 Palace Gate, London', 1, 2880.0, Decimal('6950000.0000')),
 ('Duke Street, \nMayfair, W1K', 1, 3466.0, Decimal('8450000.0000')),
 ('Claremont Park, Esher, Surrey, KT10', 1, 0.0, Decimal('7950000.0000')),
 ("King Street, St James's, London, SW1Y.", 1, 0.0, Decimal('8750000.0000')),
 ('Frognal, Hampstead Village', 1, 0.0, Decimal('22000000.0000')),
 ('Lillie Square, Seagrave Road, London, SW6 1GA.', 1, 0.0, Decimal('7250000.0000')),
 ("Apartment 20, Regent's Crescent, 27 Park Crescent, London, W1B", 1, 2146.0, Decimal('9450000.0000')),
 ('Cambridge Gate, Regents Park, London, NW1', 1, 0.0, Decimal('25500000.0000')),
 ('Eaton Place, Belgravia, London, SW1X', 1, 0.0, Decimal('19950000.0000')),
 ('2 Principal Place, Worship Street, London', 1, 0.0, Decimal('9500000.0000')),
 ('Wellington Avenue, Chingford', 1, 0.0, Decimal('650000.0000')),
 ('Residence 23, Lancer Square, Kensington Church Street, London, W8', 1, 3117.0, Decimal('15020000.0000')),
 ('The Mellier, Albemarle Street, Mayfair, W1S', 1, 3500.0, Decimal('14000000.0000')),
 ('15 Indescon Square, Canary Wharf, London, E14', 1, 0.0, Decimal('795000.0000')),
 ('Moore Street, SW3', 1, 0.0, Decimal('7650000.0000')),
 ("Regent's Park Road, Primrose Hill, London, NW1", 1, 0.0, Decimal('7500000.0000')),
 ('Willow Bridge Road, London, N1', 1, 0.0, Decimal('6750000.0000')),
 ('Lingfield Road, Wimbledon, London, SW19', 1, 5683.0, Decimal('8750000.0000')),
 ("One St. John's Wood, St. John's Wood, London, NW8", 1, 2661.0, Decimal('7250000.0000')),
 ("Clifton Hill, St John's Wood, London, NW8", 1, 0.0, Decimal('6500000.0000')),
 ('The Hanover, The Westin Residences, London, EC4V', 1, 2893.0, Decimal('6250000.0000')),
 ('Addison Road, London, W14', 1, 6557.0, Decimal('15000000.0000')),
 ('Wilton Street, Belgravia, London, SW1X', 1, 4399.0, Decimal('9650000.0000')),
 ('Rose Square, The Bromptons, London, SW3', 1, 0.0, Decimal('6950000.0000')),
 ('Denham Place, Denham, Buckinghamshire, UB9 5BL', 1, 0.0, Decimal('75000000.0000')),
 ('Gloucester Square, London, W2.', 1, 0.0, Decimal('7500000.0000')),
 ('Marylebone Square, London, W1U', 1, 0.0, Decimal('5380000.0000')),
 ('Benham House, Coleridge Gardens, 552 Kings Road, Kings Chelsea, SW10', 1, 0.0, Decimal('7350000.0000')),
 ('Hyde Park Gate, Kensington, London', 1, 0.0, Decimal('15950000.0000')),
 ("Queen Anne's Gate, London, SW1H", 1, 7348.0, Decimal('12500000.0000')),
 ('Hanover Terrace, Regents Park, London NW1', 1, 0.0, Decimal('22500000.0000')),
 ('Wetherby Place, South Kensington SW7', 1, 0.0, Decimal('6350000.0000')),
 ('Thornfield, Vine Road, London, SW13', 1, 0.0, Decimal('6375000.0000')),
 ('Pelham Street, London, SW7.', 1, 0.0, Decimal('7500000.0000')),
 ('Clifton Villas, Little Venice, London, W9', 1, 2860.0, Decimal('8750000.0000')),
 ("East Road, St George's Hill, Weybridge, Surrey, KT13", 1, 0.0, Decimal('12950000.0000')),
 ('South Audley Street, London, W1K', 1, 2865.0, Decimal('14750000.0000')),
 ('Holland Villas Road, Holland Park, London, W14', 1, 0.0, Decimal('25000000.0000')),
 ('For Sale Five Bedroom Duplex Penthouse, Damac Tower, Nine Elms, London SW8 ', 1, 0.0, Decimal('12310000.0000')),
 ('Totteridge Green, Totteridge, London, N20', 1, 0.0, Decimal('19995000.0000')),
 ('Pine Cottage, Yew Tree Bottom Road, Epsom', 1, 0.0, Decimal('1000000.0000')),
 ('North Row, London, W1K', 1, 2828.0, Decimal('6950000.0000')),
 ('Inverforth House, London, NW3', 1, 8262.0, Decimal('13950000.0000')),
 ('Upper Brook Street, London, W1K', 1, 4959.0, Decimal('11950000.0000')),
 ('Ennismore Gardens, Knightsbridge, London, SW7', 1, 0.0, Decimal('23950000.0000')),
 ('Arlington Street, St James', 1, 3946.0, Decimal('15000000.0000')),
 ('Ref: PP - Damac Tower, Parry St, Nine Elms, SW8 1SF', 1, 0.0, Decimal('12000000.0000')),
 ('Harley Gardens, London, SW10', 1, 0.0, Decimal('14950000.0000')),
 ('Pitt Street, London, W8', 1, 11010.0, Decimal('44000000.0000')),
 ('Damac Tower - Nine Elms', 1, 0.0, Decimal('11863000.0000')),
 ('Herbert Crescent, London, SW1X', 1, 7535.0, Decimal('24950000.0000')),
 ('Boiler House, Battersea Power Station, London SW8', 1, 0.0, Decimal('9000000.0000')),
 ('Highbury Place, Highbury, London, N5', 1, 6104.0, Decimal('8000000.0000')),
 ('Devereux Road, Grays, Essex, RM16', 1, 0.0, Decimal('360000.0000')),
 ('Court Lodge, Sloane Square, Belgravia, London, SW1W', 1, 1898.0, Decimal('6250000.0000')),
 ('Thames City Carnation Way', 1, 2842.0, Decimal('6650000.0000')),
 ('Basil Mansions, Basil Street, London, SW3', 1, 0.0, Decimal('9500000.0000')),
 ('De Vere Gardens, Kensington Road, London, Greater London, W8 5AU', 1, 0.0, Decimal('9500000.0000')),
 ('Winnington Close, N2', 1, 4171.0, Decimal('6950000.0000')),
 ('Buckingham Palace Road, London, SW1W', 1, 0.0, Decimal('8750000.0000')),
 ("Chester Terrace, Regent's Park, NW1", 1, 0.0, Decimal('9950000.0000')),
 ('Blenheim House, One Tower Bridge, London', 1, 0.0, Decimal('6900000.0000')),
 ("Greville Road, St John's Wood, London, NW6", 1, 4740.0, Decimal('7250000.0000')),
 ('Roedean Crescent, Putney, London, SW15', 1, 7004.0, Decimal('7250000.0000')),
 ('Hollycroft Avenue, Hampstead, NW3', 1, 0.0, Decimal('6750000.0000')),
 ('Northwood', 1, 0.0, Decimal('6750000.0000')),
 ('Pembroke Road, Kensington, London', 1, 0.0, Decimal('9500000.0000')),
 ('One Kensington Gardens, 11 Victoria Road, Kensington, London, W8', 1, 0.0, Decimal('6750000.0000')),
 ('Cheniston Gardens, London, W8', 1, 0.0, Decimal('7500000.0000')),
 ('The Bryanston, Hyde Park', 1, 0.0, Decimal('19000000.0000')),
 ('Euston Road, London, NW1', 1, 0.0, Decimal('9950000.0000')),
 ('Lyall Street, Belgravia SW1X', 1, 3131.0, Decimal('10950000.0000')),
 ('White Lodge Close, The Bishops Avenue, Hampstead Garden Suburb, London, N2', 1, 0.0, Decimal('8250000.0000')),
 ('The Lancasters, Lancaster Gate, London, W2.', 1, 0.0, Decimal('7950000.0000')),
 ('South Street, Mayfair', 1, 0.0, Decimal('15500000.0000')),
 ('Claremont Drive, Esher, Surrey, KT10', 1, 13227.0, Decimal('7950000.0000')),
 ('Carlile Place, \nRichmond, TW10', 1, 0.0, Decimal('6500000.0000')),
 ('Wimpole Street, Marylebone', 1, 9408.0, Decimal('11500000.0000')),
 ('Park Street Chelsea Creek SW6', 1, 0.0, Decimal('16000000.0000')),
 ('St Edmunds Terrace, London, NW8', 1, 0.0, Decimal('6900000.0000')),
 ('Residence 27, Lancer Square, Kensington Church Street, London, W8', 1, 2976.0, Decimal('18230000.0000')),
 ('Albion Riverside, Chelsea, SW11', 1, 0.0, Decimal('9000000.0000')),
 ("Redhill Street, Regent's Park, London, NW1", 1, 516.0, Decimal('11000000.0000')),
 ('The Bishops Avenue, Hampstead Garden Suburb, London, N2', 1, 0.0, Decimal('19950000.0000')),
 ('Park Street, Chelsea Creek Tower', 1, 3.0, Decimal('6500000.0000')),
 ('Atherton Drive, Wimbledon, SW19', 1, 0.0, Decimal('6500000.0000')),
 ('Great Portland Street, London, W1W', 1, 0.0, Decimal('6500000.0000')),
 ('Linksway, Northwood, HA6', 1, 0.0, Decimal('12000000.0000')),
 ('Canons Close, N2', 1, 5210.0, Decimal('7000000.0000')),
 ('South Bank Tower, Southbank, London', 1, 0.0, Decimal('7300000.0000')),
 ('Thornfield, Vine Road, Barnes, London, SW13', 1, 0.0, Decimal('6375000.0000')),
 ('Beaufort Gardens, SW3', 1, 0.0, Decimal('14500000.0000')),
 ('Holland Park, London, W11', 1, 2512.0, Decimal('6500000.0000')),
 ('Principal Tower, Shoreditch, London', 1, 2855.0, Decimal('9500000.0000')),
 ('Battersea Power Station, Nine Elms, London SW8', 1, 0.0, Decimal('7250000.0000')),
 ('Harrington Road, South Kensington, SW7', 1, 3065.0, Decimal('7250000.0000')),
 ('Park Square West, London, NW1', 1, 6423.0, Decimal('17950000.0000')),
 ('Brick Street, Mayfair W1J', 1, 12960.0, Decimal('35000000.0000')),
 ('Parkside, Wimbledon, London, SW19', 1, 0.0, Decimal('7495000.0000')),
 ('Lygon Place, \nBelgravia, SW1W', 1, 0.0, Decimal('19000000.0000')),
 ('Sugar Quay, London EC3R', 1, 0.0, Decimal('13500000.0000')),

### 8. Is there a correlation between property size (size_sqft) and price? Are larger properties consistently more expensive, or are there exceptions?

In [20]:
%%sql
SELECT
    (COUNT(*) * SUM(size_sqft * price_pounds) - SUM(size_sqft) * SUM(price_pounds)) /
    (SQRT((COUNT(*) * SUM(size_sqft * size_sqft) - POW(SUM(size_sqft), 2)) *
          (COUNT(*) * SUM(price_pounds * price_pounds) - POW(SUM(price_pounds), 2))))
    AS size_price_correlation
FROM london_house_prices;

 * mysql+mysqlconnector://root:***@localhost:3306/london_house_price
1 rows affected.

[(0.20506035298118389,)]